# Directorios de Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Archivos de configuración de Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Archivos de configuración de IntelliJ IDEA
/.idea/
/*.iml
/*.ipr
/*.iws

# Archivos de configuración de Eclipse
/.classpath
/.project
/.settings/

# Archivos de configuración de NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Archivos de configuración de VS Code
/.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de compilación
*.class

# Archivos de configuración de sistema operativo
*.swp
*~

# Archivos de entorno
.env